
<!DOCTYPE HTML>
<html>
<title>留言板 -message</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="stylesheets/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/common.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/pifu.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/wangEditor.min.css">
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>




<section class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1 mt-20">
        <!--用于评论-->
        

        <div class="line"></div>

        <ul class="commentList mt-50">

            <%if(result.length == 0){%> 
            	暂时没有留言
            <%}else{%>
            	<%for(var i = 0;i<result.length;i++){%>
            		<li class="item cl"> <a href="#"><i class="avatar size-L radius"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#"><%= result[i].name%></a>
                           <a class="comment-author" href="#"><%= result[i].email%></a>
                        </div>
                    </header>
                    <div class="comment-body">
                        <%= result[i].message%>

                        <!--<a class="hf f-r btn btn-default size-S mt-10" name="3">回复</a>-->

                    </div>
                </div>
            </li>
            	<%}%>
            <%}%>
            

        </ul>
        <!--用于回复-->
       

    </div>
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        
    </div>
</footer>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/layer.js"></script>
<script type="text/javascript" src="javascripts/H-ui.min.js"></script>
<script type="text/javascript" src="javascripts/pifu.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="javascripts/wangEditor.min.js"></script>

<script type="text/javascript">
    $(function () {
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '老王表情', data: 'plugin/wangEditor/emotions1.data'}, 'default2': { title: '老王心情', data: 'plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}};
        editor1.create();

        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });

</script>

</body>
</html>
